# ==========================================
# Core Framework
# ==========================================
Django>=5.2,<6.0
djangorestframework>=3.16,<4.0

# ==========================================
# PostgreSQL
# ==========================================
psycopg[binary]>=3.2,<4.0

# ==========================================
# Environment Variables
# ==========================================
python-decouple>=3.8,<4.0

# ==========================================
# CORS
# ==========================================
django-cors-headers>=4.7,<5.0

# ==========================================
# Authentication
# ==========================================
djangorestframework-simplejwt>=5.5,<6.0

# ==========================================
# Redis
# ==========================================
redis>=6.2,<7.0
django-redis>=6.0,<7.0

# ==========================================
# Image Support
# ==========================================
Pillow>=11.3,<12.0